body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity: 0.9;
    color: white;
}

#navbar-img {
    max-height: 64px;
}

#mobile-menu {
    opacity: 1;
}

@media screen and (max-width: 670px) {
    #navbar-img {
        max-height: 56px;
    }
}