/* There is a convention to write the css rules.
1st. Element selection (body, header, etc )
2nd. Class selection (.logo, .nav, etc)
3rd. Id Selections (#padding, #my-list-style, etc.)

However, I use another way which is maybe more organized - position selectors based on html position. Example 

body {}
header{}
.logo{}
ul{}
li{}
 etc
 
 Your choice.
 */
body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    /* max-width: 1300px; was not in the instructions */
    /* min-width: 1300px; was not in the instructions */
    /* width: 100% THIS IS what you were looking for. It scales on 100% of the screen, no matter how wide the screen is */
}
.logo{
    margin: 10px;
    float:left;
    position: static;
    height: 50px;
}
ul{
    float: right;
}
ul li {
    display: inline-block;
}
#my-list-style h3{
    margin: 10px;    
}
#padding{
    padding: 5px 10px;
}
.nav{
    padding: 5px 10px;
    display: inline-block;
    text-decoration: underline;
}
header{
    /* position: static; Wrong - as per instructions it should be fixed, not static */
    width: 100%;
    border-bottom: 1px solid seashell;
    height: 69px;
    /* max-width: 1300px; was not in the instructions. 
    Also, note that yoou should either use max-width or use width: 100%.
    Why? Because if my screen is wider it will not scale 100% of the screen width - it will scale 1300px which could be less than what I have.
     */
    /* z-index: 1; was missing */
}
img {
    max-width: 100%;
    /* width: 100%; use this if you want to scale 100% */
    max-height: 100%;
    /* height: 100% use this if you want to scale 100% */
}
.container{
    margin: auto;
    width: 1200px;
    height: 700px;
    position: relative;
    display: block;
}
.mainTitle{
    background-color: black;
    width: 1200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#titleTea{
   width: 1000px;
   margin-top: 100px;
   margin-left: 150px;
   /* not centered */
}
.img5{
    height: 200px;
    width: 300px;
}
#container {
    display: inline-block;
    position: relative;
    text-align: center;
    max-height: 500px;
}
.centeredtxt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0px;
}
.centeredtxt h1{
    margin: 0px;
}
.location{
    margin: 0px 20px;
    background-color: black;
    width: 300px;
    height: 300px;
    text-justify: auto;
    display: inline-block;
    opacity: 1;

}
.blocks{
    display: flex;
}
.contact{
    text-align:center;
    height: 200px;
    display: inline-block;
}
.copyright{
    margin-left: 20px;
    text-align:left
}
