main{
  margin: auto;
  max-width: 1920px;
  min-width: 900px;
}
body{
  min-width: 450px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif
}
  /*footer style*/
  footer{
    width: 100%;
    margin: auto;
    font-weight: 500;
    font-size: 22px;
    color: white;
  }
  h1{
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
  }