.nav-wrapper{
  width: 100%;
}
.nav-wrapper .brand-logo img {
  height: 64px;
}
main{
  margin: auto;
  max-width: 1920px;
  min-width: 900px;
}
body{
  min-width: 450px;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif
}
/*games boxes*/
.wrapper {
    display: flex;  
    flex-flow: row wrap;
    text-align: center;
  }
  .wrapper > * {
    font-weight: bold;
    padding: 10px;
    flex: 1 100%;
  }
  .main {
    color: black;
    justify-content: center;
    background-image: black;
  }
  .logo{
    margin-top: 50px;
    margin-right: 50px;
  }
  @media all and (min-width: 600px) { /* find an simpler  way -> maybe use span instead of article?  Articles is for bigger text */ 
    .logo { flex: 1 0 0; }            /* arcticle replaced with span, tried for simpler way with grid but it was not looking as i expected - prob bad english :) :D*/
  }
  @media all and (min-width: 800px) {
    .main{flex: 3 0px; }
    .logo{ order: 1; } 
    .main{ order: 2; }
  }
/*section title's style*/
.WoW, .CSGO, .Dota2{
    height: 80px;
    margin: 50px;
    width: 1500px;
    justify-content: center;
}
/*footer grid*/
    .item1 { grid-area: left; }
    .item2 { grid-area: right; }
    .grid-container {
    display: grid;
    grid-template-areas:
    'left left right right right';
    max-width: 1920px;
    margin: auto;
}
