body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    height: 69px;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid seashell;
    background-color: black;
    position: fixed;
    top: 0;
}

.logo {
    position: absolute;
    height: 50px;
    left: 10px;
    top: 10px;
}

nav {
    position: absolute;
    right: 15px;
    top: 20px;
}

nav > a {
    color: seashell;
    margin: 10px;
}

main {
    position: relative;
    top: 44px;
}

.mission {
    position: relative;
    padding: auto;
    margin: auto;
    height: 700px;
    width: 1200px;
    background-image: url("../../../task-assignment/week1/task_2/img-mission-background.jpg");
}

.mission-text {
    position: relative;
    text-align: center;
    width: 100%;
    color: seashell;
    background-color: black;
    top: 44%;
}

.featured-tea {
    position: relative;
    top: 50px;
    width: 1000px;
    margin: auto;
    padding: auto;
}

.featured-tea-img-text {
    display: inline-block;
    margin-right: 20px;
}

.featured-tea-img {
    height: 200px;
    width: 300px;
}

.featured-tea-text {
    margin-top: 10px;
}

.locations {
    position: relative;
    top: 50px;
    margin: auto;
    padding: auto;
    height: 500px;
    width: 1200px;
    background-image: url("../../../task-assignment/week1/task_2/img-locations-background.jpg");
    background-size: 1200px 720px;
}

.locations-header {
    position: relative;
    top: 50px;
}

.locations-adresses {
    position: relative;
    top: 15px;
}

.adresses {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 280px;  
    opacity: 1; 
    background-color: black;
    margin-top: 15px;
    margin: 20px;
}

.adresses > p {
    position: relative;
    margin-top: 40px;
}

footer {
    position: relative;
    margin: auto;
    top: 80px;
}

.contacts {
    height: 200px;
}

.copyright {
    text-align: left;
    margin-left: 20px;
}
